ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
    margin-left: 100px;
    overflow: hidden;
    background-color:rgb(4, 131, 46);
}
li {
    float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:darkseagreen;
}

  body {
    background-image: url("https://media.lesechos.com/api/v1/images/view/6143cf8e3e45462c555ded36/1280x720/0611726771938-web-tete.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    
  }

  .intro,.timeline{
    background-color:rgb(182, 230, 194);
    font-family: 'Times New Roman', Times, serif;
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
   
  }
  
  h1,p{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 150px;
    margin-left: 80px;
    line-height: 2;
}
h1 {
    text-align: center;
}
p{
    text-align: justify;
    color: black;
    font-size: x-large;
}

* {
    box-sizing: border-box;
  }

  .timeline {
    position: relative;
    width:fit-content;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #005f3b ;
    border: 4px solid #000000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  

  .content {
    padding: 10px;
    background-color: rgb(255, 251, 251);
    border-radius: 6px;
    border: solid 0.3em;
    border-color:#000000;
    overflow: hidden;
    width:fit-content;
    height: min-content;

   }

   p{
     color: black;
     text-align:left;
     font-size: 20px;
   }
  

  @media screen and (max-width: 600px) {
 
    .timeline::after {
      left: 31px;
    }
  

    .container {
      width: 50%;
      padding-left:20px;
      padding-right: 20px;
    }
  




  